In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/tennis.csv")

In [ ]:
df.shape

(14, 5)

In [ ]:
df.corr()

       windy
windy    1.0

In [ ]:
df.head(10)

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes
5     rainy  cool   normal   True   no
6  overcast  cool   normal   True  yes
7     sunny  mild     high  False   no
8     sunny  cool   normal  False  yes
9     rainy  mild   normal  False  yes

In [ ]:
df.values

array([['sunny', 'hot', 'high', False, 'no'],
       ['sunny', 'hot', 'high', True, 'no'],
       ['overcast', 'hot', 'high', False, 'yes'],
       ['rainy', 'mild', 'high', False, 'yes'],
       ['rainy', 'cool', 'normal', False, 'yes'],
       ['rainy', 'cool', 'normal', True, 'no'],
       ['overcast', 'cool', 'normal', True, 'yes'],
       ['sunny', 'mild', 'high', False, 'no'],
       ['sunny', 'cool', 'normal', False, 'yes'],
       ['rainy', 'mild', 'normal', False, 'yes'],
       ['sunny', 'mild', 'normal', True, 'yes'],
       ['overcast', 'mild', 'high', True, 'yes'],
       ['overcast', 'hot', 'normal', False, 'yes'],
       ['rainy', 'mild', 'high', True, 'no']], dtype=object)

In [ ]:
df.describe

<bound method NDFrame.describe of      outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no>

In [ ]:
#unique values in every non-binary column
#OUTLOOK :  sunny, overcast, rainy
#TEMP :  hot, mild, cool
#HUMIDITY : high, normal
#WINDY : true, false
print("OUTLOOK:",np.unique(df[['outlook']].values))
print("TEMP:",np.unique(df[['temp']].values))
print("HUMIDITY:",np.unique(df[['humidity']].values))

OUTLOOK: ['overcast' 'rainy' 'sunny']
TEMP: ['cool' 'hot' 'mild']
HUMIDITY: ['high' 'normal']

In [ ]:
count = df.nunique()
print(count)

outlook     3
temp        3
humidity    2
windy       2
play        2
dtype: int64

In [ ]:

c,h,m = df['temp'].value_counts()
p = [c,h,m]
print(p)

[6, 4, 4]

In [ ]:
temp_total = c+h+m
temp_prob= []
for i in p:
  temp_prob.append(temp_total/i)

In [ ]:
print(temp_prob)

[2.3333333333333335, 3.5, 3.5]

In [ ]:
p_cold,p_hot,p_mild = temp_prob
print(p_cold,p_hot,p_mild)

2.3333333333333335 3.5 3.5

In [ ]:
#H(X) = – [(0.70 * log2 (0.70)) + (0.30 * log2 (0.30))]
from math import log

Entropy_temp = np.array([])

for i in temp_prob:
  new_array_entropy_temp = np.append(Entropy_temp, i * log(i))
  # Entropy_temp.append(i * math.log(i))

In [ ]:
print(new_array_entropy_temp)

[4.38467039]

In [ ]:
total = np.sum(new_array_entropy_temp) 
print(-total)

-4.384670389733788

In [ ]:
# overall_entropy = 
play,not_play = df['play'].value_counts()
total_label_value = play,not_play
print(total_label_value)

(9, 5)

In [ ]:
No_total = play + not_play
play_prob= [x/No_total for x in total_label_value]
# for i in total_label_value:
#   play_prob.append(No_total/i)

print(play_prob)

[0.6428571428571429, 0.35714285714285715]

In [ ]:
import math
Entropy_overall = -sum([x*math.log2(x) for x in play_prob])
Entropy_overall

0.9402859586706311

In [ ]:
# #outlook entropy
# sunny,rainy,overcast = df['outlook'].value_counts()
# all_outlook_values = sunny,rainy,overcast
# No_of_outlook_values = sunny+rainy+overcast
# print(all_outlook_values)

In [ ]:
# prob_of_outlook = [x/No_of_outlook_values for x in all_outlook_values]
# print(prob_of_outlook) #probabilities of values in outlook (sunny,rainy,overcast)

In [ ]:
# import math
# outlook_Entropy= sum([-x*math.log(x,3) for x in prob_of_outlook])
# outlook_Entropy

In [ ]:
df_filtered = df[(df['outlook']=='sunny') & (df['play'])]
print(df_filtered)

   outlook  temp humidity  windy play
0    sunny   hot     high  False   no
1    sunny   hot     high   True   no
7    sunny  mild     high  False   no
8    sunny  cool   normal  False  yes
10   sunny  mild   normal   True  yes

In [ ]:
s_play , s_playnot = df_filtered['play'].value_counts()
sunny_outlook_values = s_play , s_playnot
No_of_s_outlook_values = s_play + s_playnot
sunny_outlook_values

(3, 2)

In [ ]:
prob_of_sunny_outlook = [x/No_of_s_outlook_values for x in sunny_outlook_values]
print(prob_of_sunny_outlook) #probabilities of values in outlook (sunny,rainy,overcast)

[0.6, 0.4]

In [ ]:
import math
s_outlook_Entropy= sum([-x*math.log(x,2) for x in prob_of_sunny_outlook])
s_outlook_Entropy

0.9709505944546686

In [ ]:
df_filtered_overcast = df[(df['outlook']=='overcast') & (df['play'])]
print(df_filtered_overcast)
overcast_play = df_filtered_overcast['play'].value_counts()
overcast_outlook_values = overcast_play
No_of_o_outlook_values = overcast_play
overcast_outlook_values

     outlook  temp humidity  windy play
2   overcast   hot     high  False  yes
6   overcast  cool   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes

yes    4
Name: play, dtype: int64

In [ ]:
prob_of_overcast_outlook = [x/No_of_o_outlook_values for x in overcast_outlook_values]
print(prob_of_overcast_outlook) #probabilities of values in outlook (sunny,rainy,overcast)

[yes    1.0
Name: play, dtype: float64]

In [ ]:
import math
o_outlook_Entropy= sum([-x*math.log(x) for x in prob_of_overcast_outlook])
o_outlook_Entropy

yes    0.0
Name: play, dtype: float64

In [ ]:
df_filtered_rain = df[(df['outlook']=='rainy') & (df['play'])]
print(df_filtered_rain)
rain_play, rain_playnot = df_filtered_rain['play'].value_counts()
rain_outlook_values = rain_play, rain_playnot
No_of_r_outlook_values = rain_play + rain_playnot
rain_outlook_values

   outlook  temp humidity  windy play
3    rainy  mild     high  False  yes
4    rainy  cool   normal  False  yes
5    rainy  cool   normal   True   no
9    rainy  mild   normal  False  yes
13   rainy  mild     high   True   no

(3, 2)

In [ ]:
prob_of_rain_outlook = [x/No_of_r_outlook_values for x in rain_outlook_values]
print(prob_of_rain_outlook) #probabilities of values in outlook (sunny,rainy,overcast)

[0.6, 0.4]

In [ ]:
import math
r_outlook_Entropy= sum([-x*math.log(x,2) for x in prob_of_rain_outlook])
r_outlook_Entropy

0.9709505944546686

In [ ]:
sunny,rainy,overcast = df['outlook'].value_counts()
all_outlook_values = sunny,rainy,overcast
info_gain_outlook = Entropy_overall - ((sunny/No_total *s_outlook_Entropy))-((rainy/No_total *r_outlook_Entropy))-((overcast/No_total *o_outlook_Entropy))
print(info_gain_outlook)

yes    0.24675
Name: play, dtype: float64

In [ ]:
#temperature Entropy:
#hot temp:
df_filtered_t_hot = df[(df['temp']=='hot') & (df['play'])]
print(df_filtered_t_hot)
hot_play , hot_playnot = df_filtered_t_hot['play'].value_counts()
hot_temp_values = hot_play , hot_playnot
No_of_hot_temp_values = hot_play + hot_playnot

prob_of_hot_temp = [x/No_of_hot_temp_values for x in hot_temp_values]
print(prob_of_hot_temp)

hot_temp_Entropy= sum([-x*math.log(x,2) for x in prob_of_hot_temp])
hot_temp_Entropy

     outlook temp humidity  windy play
0      sunny  hot     high  False   no
1      sunny  hot     high   True   no
2   overcast  hot     high  False  yes
12  overcast  hot   normal  False  yes
[0.5, 0.5]

1.0

In [ ]:
#mild temp:
df_filtered_t_mild = df[(df['temp']=='mild') & (df['play'])]
print(df_filtered_t_mild)
mild_play , mild_playnot = df_filtered_t_mild['play'].value_counts()
mild_temp_values = mild_play , mild_playnot
No_of_mild_temp_values = mild_play + mild_playnot

prob_of_mild_temp = [x/No_of_mild_temp_values for x in mild_temp_values]
print(prob_of_mild_temp)

mild_temp_Entropy= sum([-x*math.log(x,2) for x in prob_of_mild_temp])
mild_temp_Entropy

     outlook  temp humidity  windy play
3      rainy  mild     high  False  yes
7      sunny  mild     high  False   no
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
13     rainy  mild     high   True   no
[0.6666666666666666, 0.3333333333333333]

0.9182958340544896

In [ ]:
#cold temp:
df_filtered_t_cold = df[(df['temp']=='cool') & (df['play'])]
print(df_filtered_t_cold)
cold_play , cold_playnot = df_filtered_t_cold['play'].value_counts()
cold_temp_values = cold_play , cold_playnot
No_of_cold_temp_values = cold_play + cold_playnot

prob_of_cold_temp = [x/No_of_cold_temp_values for x in cold_temp_values]
print(prob_of_cold_temp)

cold_temp_Entropy= sum([-x*math.log(x,2) for x in prob_of_cold_temp])
cold_temp_Entropy

    outlook  temp humidity  windy play
4     rainy  cool   normal  False  yes
5     rainy  cool   normal   True   no
6  overcast  cool   normal   True  yes
8     sunny  cool   normal  False  yes
[0.75, 0.25]

0.8112781244591328

In [ ]:
#Information Gain on Temperature:
print(df['temp'].value_counts())
mild,hot,cool = df['temp'].value_counts()
all_temp_values = mild,hot,cool
print(all_temp_values)
info_gain_temp = Entropy_overall - ((mild/No_total *mild_temp_Entropy))-((hot/No_total *hot_temp_Entropy))-((cool/No_total *cold_temp_Entropy))
print(info_gain_temp)

mild    6
hot     4
cool    4
Name: temp, dtype: int64
(6, 4, 4)
0.02922256565895487

In [ ]:
#Entropy of humidity:
#humidity high:
df_filtered_h_high = df[(df['humidity']=='high') & (df['play'])]
print(df_filtered_h_high)
h_high_play , h_high_playnot = df_filtered_h_high['play'].value_counts()
h_high_values = h_high_play , h_high_playnot
No_of_h_high_values = h_high_play + h_high_playnot

prob_of_h_high = [x/No_of_h_high_values for x in h_high_values]
print(prob_of_h_high)

h_high_Entropy= sum([-x*math.log(x,2) for x in prob_of_h_high])
print(h_high_Entropy)

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
7      sunny  mild     high  False   no
11  overcast  mild     high   True  yes
13     rainy  mild     high   True   no
[0.5714285714285714, 0.42857142857142855]
0.9852281360342516

In [ ]:
#humidity normal:

df_filtered_h_normal = df[(df['humidity']=='normal') & (df['play'])]
print(df_filtered_h_normal)
h_normal_play , h_normal_playnot = df_filtered_h_normal['play'].value_counts()
h_normal_values = h_normal_play , h_normal_playnot
No_of_h_normal_values = h_normal_play + h_normal_playnot

prob_of_h_normal = [x/No_of_h_normal_values for x in h_normal_values]
print(prob_of_h_normal)

h_normal_Entropy= sum([-x*math.log(x,2) for x in prob_of_h_normal])
print(h_normal_Entropy)

     outlook  temp humidity  windy play
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
12  overcast   hot   normal  False  yes
[0.8571428571428571, 0.14285714285714285]
0.5916727785823275

In [ ]:
#Information Gain on Temperature:
print(df['humidity'].value_counts())
high,normal = df['humidity'].value_counts()
all_humidity_values = high,normal
info_gain_humidity = Entropy_overall - ((high/No_total *h_high_Entropy))-((normal/No_total *h_normal_Entropy))
print(info_gain_humidity)

high      7
normal    7
Name: humidity, dtype: int64
0.15183550136234159

In [ ]:
#Entropy of Windy:
#Windy TRUE:
df_filtered_w_true = df[(df['windy']==True) & (df['play'])]
print(df_filtered_w_true)
w_true_play, w_true_playnot = df_filtered_w_true['play'].value_counts()
w_true_values = w_true_play , w_true_playnot
No_of_w_true_values = w_true_play + w_true_playnot

prob_of_w_true = [x/No_of_w_true_values for x in w_true_values]
print(prob_of_w_true)

w_true_Entropy= sum([-x*math.log(x,2) for x in prob_of_w_true])
print(w_true_Entropy)

     outlook  temp humidity  windy play
1      sunny   hot     high   True   no
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
13     rainy  mild     high   True   no
[0.5, 0.5]
1.0

In [ ]:
#Entropy of Windy:
#Windy False:
df_filtered_w_false = df[(df['windy']==False) & (df['play'])]
print(df_filtered_w_false)
w_false_play, w_false_playnot = df_filtered_w_false['play'].value_counts()
w_false_values = w_false_play , w_false_playnot
No_of_w_false_values = w_false_play + w_false_playnot

prob_of_w_false = [x/No_of_w_false_values for x in w_false_values]
print(prob_of_w_false)

w_false_Entropy= sum([-x*math.log(x,2) for x in prob_of_w_false])
print(w_false_Entropy)

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
12  overcast   hot   normal  False  yes
[0.75, 0.25]
0.8112781244591328

In [ ]:
#Information Gain on Windy:
print(df['windy'].value_counts())
false,true = df['windy'].value_counts()
all_windy_values = false,true
info_gain_windy = Entropy_overall -((false/No_total *w_false_Entropy))- ((true/No_total *w_true_Entropy))
print(info_gain_windy)

False    8
True     6
Name: windy, dtype: int64
0.048127030408269544

In [ ]:
print(info_gain_outlook,info_gain_temp,info_gain_humidity,info_gain_windy)

yes    0.24675
Name: play, dtype: float64 0.02922256565895487 0.15183550136234159 0.048127030408269544